<!DOCTYPE html>
<html>
<head>
  <title>Grid App</title>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/backbone.marionette.js"></script>
  <script src="js/application.js"></script>

  <link href="css/custom.css" rel="stylesheet">

</head>

<body>
  
  <div id="grid">
  </div>

  <script type="text/template" id="grid-template">
    <h2>Palette</h2>
      <ul>
        <li> </li>
        <li>x</li>
        <li>o</li>
      </ul>
    <h2>Create new pattern</h2>
      <input type="text" id="number" placeholder="Number of stitches in a row:"></input>
      <button>Create pattern</button>
    <section></section>
  </script>

  <script type="text/template" id="row-template">
    <div class="row-fluid"></div>
  </script>

  <script type="text/template" id="item-template">
    <a href="#<%= id %>"><%= type %></a>
  </script>

</body>
</html>