<!DOCTYPE html>
<html>
<head>
  <title>Knit App</title>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/backbone.marionette.js"></script>
  <script src="js/application.js"></script>

  <link href="css/custom.css" rel="stylesheet">

</head>

<body>

  <div id="palette">
  </div>
  <div id="form">
  </div>
  <div id="grid">
  </div>

  <script type="text/template" id="palette-template">
    <h2>Palette</h2>
    <ul>
      <li> </li>
      <li>o</li>
      <li>x</li>
    </ul>
  </script>

  <script type="text/template" id="form-template">
  </script>

  <script type="text/template" id="grid-template">
    <h2>Create new pattern</h2>
      <form>
        <input type="text" name="number" placeholder="Number of stitches in a row" />
        <input type="submit" value="Create pattern" />
      </form>
    <section></section>
  </script>

  <script type="text/template" id="row-template">
    <div class="row-fluid"></div>
  </script>

  <script type="text/template" id="item-template">
    <a href="#<%= id %>"><%= type %></a>
  </script>

</body>
</html>